html, body {
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
}

.color-one { background: #F1D8AE; }
.color-two { background: #B8D1AB; border: solid; }
.color-three {
    background: #A37194;
}

.white-text {
    color: #fff;
}

.bold-font {
    font-weight: bold;
}

.triangle-background {
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: linear-gradient(-50deg, #178383 31%, transparent 31%), linear-gradient(-130deg, #1e9d9d 54%, transparent 54%), linear-gradient(10deg, #178383 25%, transparent 25%);
}

.grid {
    display: grid;
    height: 100vh;
    /* grid-auto-flow: column; */
    grid-template-columns: 0.75fr 0.75fr 0.25fr;
    grid-template-rows: 0.30fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "name image find-me"
    "contact image find-me"
}

#header {
    grid-area: header;
}

#header > div {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 3rem;
    left: -0.75rem;
}

#header p::before {
    position: relative;
    top: -7px;
    content: '_____';
    padding-right: 1rem;
}

#hello {
    margin: 0;
    /* color: #1e9d9d; */
    color: #178383;
    font-size: 1.3rem;
    font-weight: 600;
}

#name {
    grid-area: name;
    margin: 0;
    font-family: 'Martel', serif;
    font-size: 4.5rem;
}

#name > div {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 5rem;
}

#desc-title {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
}

#desc-detail {
    margin: 0;
    font-size: 0.90rem;
}

#image {
    grid-area: image;
}

#image > div > img {
    position: absolute;
    bottom: 0;
}

#contact {
    grid-area: contact;
    color: #fff;
}

#contact > div {
    
    margin: 0 auto;
    width: 80%;
    position: relative;
    top: 22vh; 
    /* width: 50%;
    position: absolute;
    left: 4vw;
    bottom: 5vh; */
}

#contact #inside-grid {
    display: grid;
    grid-template-rows: 1fr 1f;
}

/* #contact #inside-grid section {
    color: #fff;
    padding: 0.10rem 0;
} */

#contact #inside-grid .contents-section {
    line-height: 1.6;
}

#contact .nested-grid {
    display: grid;
    grid-column: span 2;
    height: 7vh;
}

/* #contact .nested-grid section {
    position: relative;
} */

#contact .nested-grid section::before {
    position: relative;
    top: -7px;
    content: '_____';
    padding-right: 1rem;
}

#find-me {
    grid-area: find-me;
}

#find-me a {
    color: #fff;
    transition: all, 1s, ease-in, .5s;
}

#find-me a:hover {
    color: orange;
    transform: scale(1.5);
}

/* #find-me a:hover::after {
    border: 2px dashed #fff;
    content: '';
} */

#find-me > div {
    margin: 0 auto;
    position: absolute;
    bottom: 5.5vh;
    right: 10vw;
}

#find-me .icons-grid {
    display: inline-grid;
    grid-template-columns: 100px;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
}

#find-me .icons-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#find-me .icons-grid .find-me-header section::after {
    position: relative;
    left: 5px;
    content: '______';
    padding-top: 1rem;
}

div .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    overflow: visible;
    white-space: normal;
}

@media only screen and (max-width: 600px) {

    /* html, body {
        overflow: hidden;
    }  */

    .triangle-background {
        height: 100%;
        width: 100%;
        background-color: white;
        background-image: linear-gradient(-130deg, #1e9d9d 38%, transparent 38%), linear-gradient(10deg, #178383 25%, transparent 25%);
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 0.50fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
        "header"
        "name"
        "contact"
        "image"
        "find-me"
    }

    #header > div {
        position: relative;
        top: 1rem;
        left: 0.1rem;
    }
    
    #name {
        margin: 0;
        font-family: 'Martel', serif;
        font-size: 2.8rem;
    }

    #name > div {
        width: 90%;
        position: static;
    }

    #image > div > img {
        position: absolute;
        bottom: -12vh;
        right: -7.5rem;
        height: 72vh;
        width: auto;
    }
    #contact #inside-grid section {
        color: #000;
        font-size: 1.2rem;
    }

    #contact > div {
        margin: 0;
        padding: 0;
        position: relative;
        top: 2rem;
        left: 1.4rem;
        width: 40%;
    }

    #contact #inside-grid {
        display: grid;
        grid-template-rows: 0.1fr 1fr 1f;
    }

    #contact #inside-grid div {
        padding: 0.2rem 0;
    }

    #contact .nested-grid {
        display: grid;
        grid-column: auto;
        height: auto;
    }

    #find-me > div {
        position: static;
        width: 88%;
        margin: 0 auto;
    }

    #find-me .icons-grid {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    #find-me .icons-grid div {
        z-index: 2;
    }

     #find-me .icons-grid .find-me-header section::after {
        position: relative;
        top: -8px;
        left: 10px;
        content: '______';
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
    }

    div .vertical-text {
        white-space: nowrap;
        writing-mode: horizontal-tb;
        /*text-orientation: mixed;
         overflow: hidden; */
    }
}