html {
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* .flex-contents-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-contents-container,
.content .one-fifth.column {
    flex: 1;
    display: flex;
}

.yellow-back { background: #ffe001; }
.green-back { background: #66af45; }
.purple-back { background: #954294; }

.row {
    margin: 3rem 3.5rem;
} */

.orange-back { background: orange; }
.violet-back { background: violet; border: solid; }


#hello {
    margin: 0;
    /* color: #1e9d9d; */
    color: #178383;
    font-size: 1.3rem;
    font-weight: 600;
}

#name {
    margin: 0;
    font-family: 'Martel', serif;
    font-size: 4.5rem;
}

#desc-title {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 600;
}

#desc-detail {
    margin: 0;
    font-size: 1.2rem;
}


#email-phone-container {
    display: flex;
}

.row.bottom {
    display: flex;
    justify-content: space-between;
}

.row-bottom-child {
    display: inline-block;
    align-self: flex-end;
}

.white-text {
    color: #fff;
}

.triangle-background {
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: linear-gradient(-50deg, #178383 31%, transparent 31%), linear-gradient(-130deg, #1e9d9d 54%, transparent 54%), linear-gradient(10deg, #178383 25%, transparent 25%);
}

.grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
    /* grid-template-columns: fit-content(45%) fit-content(45%) fit-content(5%); */
}

.three-grid-rows {
    display: grid;
    place-content: center;
    grid-template-rows: repeat(3, 1fr);
}

.two-grid-rows {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.two-grid-columns {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

div p.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}