* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --darkgrey: #4a4a4a;
    font-size: 16px;
    --anim-duration: 0.8s;
    --anim-fill-mode: forwards;
}

html, body {
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
}

.color-one { background: #F1D8AE; }
.color-two { background: #B8D1AB; border: solid; }
.color-three {
    background: #A37194;
}

.darkgrey {
    color: var(--darkgrey);
}

.white-text {
    color: #fff;
}

.bold-font, .contact-headers {
    font-weight: bold;
}

.triangle-background {
    height: 100vh;
    width: 100vw;
    background-color: white;
    /* right middle left */
    background-image: linear-gradient(-50deg, #178383 31%, transparent 31%), linear-gradient(-130deg, #1e9d9d 54%, transparent 54%), linear-gradient(10deg, #178383 25%, transparent 25%);
}

/* @keyframes triangles {
    25% {
        opacity: 0.25;
        background-image: linear-gradient(-14deg, #7B8780 31%, transparent 31%), linear-gradient(-34deg, #7B8780 54%, transparent 54%), linear-gradient(3deg, #7B8780 25%, transparent 25%);
    }
    50%{
        opacity: 0.50;
        background-image: linear-gradient(-26deg, #7B8780 31%, transparent 31%), linear-gradient(-66deg, #7B8780 54%, transparent 54%), linear-gradient(5deg, #7B8780 25%, transparent 25%);
    }
    75% {
        opacity: 0.75;
        background-image: linear-gradient(-38deg, #7B8780 31%, transparent 31%), linear-gradient(-98deg, #7B8780 54%, transparent 54%), linear-gradient(7deg, #7B8780 25%, transparent 25%);
    }
    100% {
        opacity: 1;
        background-image: linear-gradient(-50deg, #178383 31%, transparent 31%), linear-gradient(-130deg, #1e9d9d 54%, transparent 54%), linear-gradient(10deg, #178383 25%, transparent 25%);
    }
} */

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.75fr 0.75fr 0.25fr;
    grid-template-rows: 0.30fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "name image find-me"
    "contact image find-me"
}

#header {
    grid-area: header;
}

#header > div {
    opacity: 0;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 0rem;
    left: -0.75rem;
    animation-name: portfolio-div-fadein;
    animation-duration: var(--anim-duration);
    animation-fill-mode: var(--anim-fill-mode);
}

@keyframes portfolio-div-fadein {
    to {
        opacity: 1;
        top: 3rem;
    }
}

#header p::before {
    position: relative;
    top: -7px;
    content: '_____';
    padding-right: 1rem;
}

#hello {
    margin: 0;
    /* color: #1e9d9d; */
    color: #178383;
    font-size: 1.3rem;
    font-weight: 600;
}

#name {
    grid-area: name;
    margin: 0;
    font-family: 'Martel', serif;
    font-size: 4.5rem;
}

#name > div {
    opacity: 0;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 3rem;
    animation-name: name-div-fadein;
    animation-delay: 1s;
    animation-duration: var(--anim-duration);
    animation-fill-mode: var(--anim-fill-mode);
    /* animation: name-div-fadein 2s forwards; */
}

@keyframes name-div-fadein {
    to {
        opacity: 1;
        top: 5rem;
    }
}

#desc-title {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.desc-detail {
    margin: 0;
    font-size: 0.90rem;
}

#image {
    grid-area: image;
}

#image > div > img {
    position: absolute;
    bottom: -3rem;
    opacity: 0;
    animation-name: img-fadein;
    animation-delay: 2s;
    animation-duration: var(--anim-duration);
    animation-fill-mode: var(--anim-fill-mode);
}

@keyframes img-fadein {
    to {
        opacity: 1;
        bottom: 0rem;
    }
}


#contact {
    grid-area: contact;
    color: #fff;
}

#contact > div {
    opacity: 0;
    margin: 0 auto;
    width: 80%;
    position: relative;
    /* top: 22vh; */
    top: 18vh;
    /* width: 50%;
    position: absolute;
    left: 4vw;
    bottom: 5vh; */
    animation-name: contact-div-fadein;
    animation-delay: 2.5s;
    animation-duration: var(--anim-duration);
    animation-fill-mode: var(--anim-fill-mode);
    /* animation: contact-div-fadein 2s forwards; */
}

@keyframes contact-div-fadein {
    to {
        top: 22vh;
        opacity: 1;
    }
}


#contact #inside-grid {
    display: grid;
    grid-template-rows: 1fr 1f;
}

/* #contact #inside-grid section {
    color: #fff;
    padding: 0.10rem 0;
} */

#contact #inside-grid .contents-section {
    line-height: 1.6;
}

#contact .nested-grid {
    display: grid;
    grid-column: span 2;
    height: 7vh;
}

/* #contact .nested-grid section {
    position: relative;
} */

#contact .nested-grid section::before {
    position: relative;
    top: -7px;
    content: '_____';
    padding-right: 1rem;
}

#inside-grid::after {
    content: '*For data presentation only';
    font-size: 0.5rem;
    white-space: nowrap;
}

#find-me {
    grid-area: find-me;
}

#find-me a {
    color: #fff;
    transition: all, 1s, ease-in, .5s;
}

#find-me a:hover {
    color: orange;
    transform: scale(1.5);
}

/* #find-me a:hover::after {
    border: 2px dashed #fff;
    content: '';
} */

#find-me > div {
    opacity: 0;
    margin: 0 auto;
    position: absolute;
    bottom: -5vh;
    right: 10vw;
    animation-name: findme-div-fadein;
    animation-delay: 3s;
    animation-duration: var(--anim-duration);
    animation-fill-mode: var(--anim-fill-mode);
}

@keyframes findme-div-fadein {
    to {
        bottom: 5.5vh;
        opacity: 1;
    }
}

#find-me .icons-grid {
    display: inline-grid;
    grid-template-columns: 100px;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
}

#find-me .icons-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#find-me .icons-grid #find-me-header section::after {
    position: relative;
    left: 5px;
    content: '______';
    padding-top: 1rem;
}

div .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    overflow: visible;
    white-space: normal;
}

@media only screen and (max-width: 600px) {

    /* html, body {
        overflow: hidden;
    }  */

    .triangle-background {
        height: 100%;
        width: 100%;
        background-color: white;
        background-image: linear-gradient(-130deg, #1e9d9d 38%, transparent 38%), linear-gradient(10deg, #178383 25%, transparent 25%);
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 0.50fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
        "header"
        "name"
        "contact"
        "image"
        "find-me"
    }

    #header > div p {
        position: absolute;
        top: -2rem;
        left: 0.75rem;
    }
    
    #name {
        margin: 0;
        font-family: 'Martel', serif;
        font-size: 2.8rem;
    }

    #name > div {
        width: 90%;
        position: static;
    }

    #name > div p {
        position: relative;
        top: -2rem;
        opacity: 0;
        animation-name: name-div-fadein;
        animation-delay: 1.5s;
        animation-duration: var(--anim-duration);
        animation-fill-mode: var(--anim-fill-mode);
    }

    @keyframes name-div-fadein {
        to {
            opacity: 1;
            top: 0rem;
        }
    }

    #image > div > img {
        position: absolute;
        bottom: -24vh;
        right: -7.5rem;
        height: 72vh;
        width: auto;
        opacity: 0;
        animation-name: img-fadein;
        animation-delay: 3.5s;
        animation-duration: var(--anim-duration);
        animation-fill-mode: var(--anim-fill-mode);
    }

    @keyframes img-fadein {
        to {
            opacity: 1;
            bottom: -12vh;
        }
    }

    #contact #inside-grid section {
        color: var(--darkgrey);
        font-size: 1.2rem;
    }

    #contact #inside-grid {
        display: grid;
        grid-template-rows: 0.1fr 1fr 1f;
    }

    #contact #inside-grid div {
        padding: 0.2rem 0;
    }

    #contact .nested-grid {
        display: grid;
        grid-column: auto;
        height: auto;
    }

    #contact > div {
        margin: 0;
        padding: 0;
        width: 40%;
        position: relative;
        left: 1.8rem;
    }

    .contact-headers::after {
        content: '*';
        font-size: 0.7rem;
        font-weight: lighter;
        position: relative;
        top: -0.4rem;
    }

    #inside-grid::after {
        content: '*For data presentation only';
        font-size: 0.5rem;
        white-space: nowrap;
        color: var(--darkgrey);
    }

    @keyframes contact-div-fadein {
        to {
            opacity: 1;
            top: 2rem;
        }
    }

    #find-me > div {
        position: static;
        width: 88%;
        margin: 0 auto;
    }

    #find-me > div div {
        position: relative;
        bottom: -3rem;
        opacity: 0;
        animation-name: findme-div-fadein;
        animation-delay: 4.5s;
        animation-duration: var(--anim-duration);
        animation-fill-mode: var(--anim-fill-mode);
    }

    @keyframes findme-div-fadein {
        to {
            bottom: 0rem;
            opacity: 1;
        }
    }

    #find-me .icons-grid {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    #find-me .icons-grid div {
        z-index: 2;
    }

     #find-me .icons-grid #find-me-header section::after {
        position: relative;
        top: -7px;
        left: 10px;
        content: '______';
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
    }

    div .vertical-text {
        white-space: nowrap;
        writing-mode: horizontal-tb;
        /*text-orientation: mixed;
         overflow: hidden; */
    }
}