@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    font-family: 'Abel', sans-serif;
    background-color: #eee0d4;
}

.grid-container{
    margin: 0 auto;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

.card {
    font-family: 'Abel', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: #9295AC; */
    border-radius: 20px;
    background: linear-gradient(to top right, #E67716, #0ABDC8);
}

.card a >div::before, .card a >div::after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    opacity: 1;
}

.card a >div::before {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0, 1);
    transition: transform ease-out 250ms;
}

.card a >div:hover::before{
    transform: scale(1.05, 1);
}

.card a >div::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1, 0);
    transition: transform ease-out 250ms;
}

.card a >div:hover::after{
    transform: scale(1, 1.05);
}

.card-img {
    width: 250px;
    height: 250px;
    transform: scale(0.92, 0.92);
    border-radius: 20px;
    transition: opacity ease-out 250ms;
    opacity: 1;
}

.card a >div:hover .card-img {
    opacity: 0.1;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    transition: opacity ease-out 250ms;
}

.card a >div:hover .card-text {
    opacity: 1;
}

@media only screen and (max-width:600px) {

    h2{
        text-align: center;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(4, 1fr);
        place-content: center;
    }
}