@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Abel', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #33313B;
}

#title {
    margin-top: 2rem;
    color: #fff;
}

#title div {
    font-size: 3rem;
}

.slider {
    position: relative;
    background: #000116;
    width: 800px;
    min-height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
    background: #E6F5FF;
    background: -webkit-linear-gradient(bottom left, #3C4F65, #834C69);
    background: -moz-linear-gradient(bottom left, #3C4F65, #834C69);
    background: linear-gradient(to top right, #3C4F65, #834C69);
    /* background: #261C2C;
    background: -webkit-linear-gradient(bottom left, #3E2C41, #5C527F);
    background: -moz-linear-gradient(bottom left, #3E2C41, #5C527F);
    background: linear-gradient(to top right, #3E2C41, #5C527F); */
    /* background: #60A0EF;
    background: -webkit-linear-gradient(bottom left, #213B68, #934776);
    background: -moz-linear-gradient(bottom left, #213B68, #934776);
    background: linear-gradient(to top right, #213B68, #934776); */

}

.slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.slider .slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: opacity ease-out 250ms;
    opacity: 0.6;
}

.slider .slide .info {
    position: absolute;
    color: #222;
    background-color: rgba(255, 255, 255, 0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1  / 5%);
}

.slider .slide .info h2 {
    font-size: 2em;
    font-weight: 800;
}


.slider .slide .info p {
    font-size: 1em;
    font-weight: 400;
}

.navigation {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation {
    opacity: 1;
}

.prev-btn, .next-btn {
    z-index: 999;
    font-size: 2em;
    color: #222;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility {
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visibility .slide-icon {
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active {
    background-color: #4285f4;
}

.slide a > div::before, .slide a >div::after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 2.7em;
    right: 2.7em;
    opacity: 1;
}

.slide a > div::before {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0, 1);
    transition: transform ease-out 250ms;
}

.slide a > div:hover::before{
    transform: scale(1.05, 1);
}

.slide a > div::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1, 0);
    transition: transform ease-out 250ms;
}

.slide a > div:hover::after{
    transform: scale(1, 1.05);
}

.card-img {
    /* width: 250px;
    height: 250px;
    transform: scale(0.92, 0.92); */
    border-radius: 20px;
    transition: opacity ease-out 250ms;
    opacity: 0.6;
}

.slide a > div:hover .card-img {
    opacity: 0.1;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    transition: opacity ease-out 250ms;
}

.slide a > div:hover .card-text {
    opacity: 1;
}

@media (max-width: 900px) {

    .slider {
        width: 100%;
    }

    .slider .slide .info {
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px) {

    .slider .slide .info h2 {
        font-size: 1.8em;
        line-height: 40px;
    }

    .slider .slide .info p {
        font-size: 0.9em;
    }
}